*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.input{
    text-align: center;
    margin: 100px;
}

input[type="text"]{
    height: 50px;
    width: 600px;
    background-color: azure;
    font-weight: bold;
    align-content: center;
}

input[type="button"]{
    align-self: center;
}

.display{
    text-align:center;
}